.btn {
  font-weight: 500;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  transition: background 0.3s, color 0.3s;

  &.btn-outline {
    border: 1px solid #dc2626;
    background: transparent;
    color: #dc2626;

    &:hover {
      background: #fef2f2;
    }
  }

  &.btn-primary {
    background: linear-gradient(to right, #dc2626, #eab308);
    color: white;

    &:hover {
      background: linear-gradient(to right, #b91c1c, #ca8a04);
    }
  }
}