<header class="header">
  <div class="container">
    <div class="header__content">
      <!-- Logo + título -->
      <div class="header__brand">
        <div class="header__logo">
          <!-- <lucide-icon [img]="BookOpen" class="icon"></lucide-icon> -->
        </div>
        <div>
          <h1 class="header__title">AgoraUD</h1>
          <p class="header__subtitle">Virtual Learning</p>
        </div>
      </div>

      <!-- Navegación -->
      <nav class="header__nav">
        <a routerLink="/cursos">Cursos</a>
        <a routerLink="/categorias">Categorías</a>
        <a routerLink="/mi-aprendizaje">Mi Aprendizaje</a>
        <a routerLink="/instructores">Instructores</a>
      </nav>

      <!-- Botones -->
      <div class="header__actions">
        <a class="btn btn-outline" routerLink="/auth/login">Iniciar Sesión</a>
        <a class="btn btn-primary" routerLink="/auth/register">Registrarse</a>
      </div>


    </div>
  </div>
</header>