<section class="teacher-dashboard">
  <div class="container">

    <div class="dashboard-header">
      <h1 class="section-title">Panel del Asesor</h1>
    </div>

    <div class="teacher-tabs">
      <div class="teacher-tab"
           [class.active]="activeTab === 'profile'"
           (click)="activeTab = 'profile'">Mi Perfil</div>

      <div class="teacher-tab"
           [class.active]="activeTab === 'subjects'"
           (click)="activeTab = 'subjects'">Mis Materias</div>

      <div class="teacher-tab"
           [class.active]="activeTab === 'availability'"
           (click)="activeTab = 'availability'">Disponibilidad y Tarifas</div>

      <div class="teacher-tab"
           [class.active]="activeTab === 'stats'"
           (click)="activeTab = 'stats'">Estadísticas</div>
    </div>

    @if (activeTab === 'profile') {
      <app-teacher-profile />
    }
    @if (activeTab === 'subjects' && profileId()) {
      <app-teacher-courses [profileId]="profileId()!" />
    }
    @if (activeTab === 'availability' && profileId()) {
      <app-teacher-create-course [profileId]="profileId()!" />
    }
    @if (activeTab === 'stats') {
      <app-teacher-stats />
    }

  </div>
</section>
